YOUTUBE_API_KEY=
GEMINI_API_KEY=
DATABASE_URL=
EMBEDDING_MODEL=
JWT_SECRET_KEY=ewdrewfwefmimfiormgfioerg123j1234i324
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=