YOUTUBE_API_KEY=AIzaSyDL0ZS9_WFiAa2XvHuWjqBSR-4o85FlqoE
GEMINI_API_KEY=AQ.Ab8RN6IexS1A7ZPsA8PeurAjP7vGJkL4X8W9-J2ndnXqcFH4gw
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/youtube_agent
EMBEDDING_MODEL=gemini-embedding-001