fastapi
uvicorn[standard]

langchain
langgraph
langchain-google-genai
langchain-community
youtube-transcript-api
google-api-python-client
pytest
pydantic
pydantic-settings
asyncpg
sqlalchemy
asyncpg
psycopg2-binary
pgvector

python-dotenv
fastapi
uvicorn
sqlalchemy
psycopg2-binary
email-validator
pydantic
pydantic-settings
python-multipart
PyJWT
pwdlib[argon2]
itsdangerous
authlib
httpx
itsdangerous
alembic