fastapi
uvicorn[standard]
slowapi

langchain
langgraph
langchain-google-genai
langchain-openai
langchain-community
youtube-transcript-api>=1.0.0
google-api-python-client
pytest
pydantic
pydantic-settings
asyncpg
sqlalchemy
asyncpg
psycopg2-binary
pgvector

structlog

python-dotenv
fastapi
uvicorn
sqlalchemy
psycopg2-binary
email-validator
pydantic
pydantic-settings
python-multipart
PyJWT
pwdlib[argon2]
itsdangerous
authlib
httpx
itsdangerous
alembic